html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Sifonn"; /* Choose a name for your font */
  src: url("./static/fonts/SIFONN_PRO.otf") format("opentype");
}

body {
  /* Font Family */
  font-family: "Sifonn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  overflow-x: hidden;
}

body ::selection {
  color: #000000;
  background: rgb(0, 255, 103);
}

body {
  /* Body Properties */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.nav_align {
  margin-left: 7rem;
}

.nav_align img {
  height: 75px;
  width: 250px;
}

.nav_item_align {
  margin-right: 7rem;
}

.nav_links {
  text-transform: uppercase;
  font-weight: 700;
}

.nav_links a:hover {
  color: rgb(0, 255, 103) !important;
}

.services_area .heading {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.47px;
  line-height: 47px;
  text-decoration: none solid rgb(240, 247, 243);
  text-align: center;
  word-spacing: 0px;

}

.services_area .sub_heading {
  font-size: 20px;
  /* border-bottom: 1px solid rgba(237, 239, 242, 1); */
  font-weight: 600;
  letter-spacing: 0.47px;
  line-height: 47px;
  text-decoration: none solid rgb(240, 247, 243);
  text-align: center;
  word-spacing: 0px;
  
}

.sub_heading::after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background-color: #00ff67;
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.sub_heading_large::after {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  background-color: #00ff67;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.sub_heading_about::after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background-color: #00ff67;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.home_sub {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-color: transparent;
  background-image: linear-gradient(360deg, #723fcd 0%, #00ff67 100%);
}

.text_container {
  width: 56rem;
}

.sub_home_text {
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}

  .talk_button_home {
    margin-top: 20px; 
  }
  

.talk_button_home {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.12px;
    text-decoration: none;
    text-align: center;
    height: 60.8px;
    width: 160.5px;
    background-color: transparent;
    border: 2px solid #ffffff;
    /* padding: 25px 50px 25px 50px; */
    background: transparent;
    cursor: pointer;
    color: #ffffff;
    transform: none;
    transition: all 0.3s ease 0s;
    /* outline: none; */
    outline: 2px solid #ffffff;
    box-sizing: border-box;
    word-wrap: break-word;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.talk_button_home:hover {
    background-color: #00ff67;
    color: #000000;
    outline: none;
}


.footer_links a {
  box-sizing: border-box;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 600;
  color: #6fcbeb !important;
  text-decoration: none;
}

.footer_links a:hover {
  color: rgba(237, 239, 242, 1) !important;
}

/* social icons css */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #1c3977;
}
.social-network a.icoInstagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-network a.icoYoutube:hover {
  background-color: #bd3518;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  /* width: 50px;
	height: 50px; */
  font-size: 20px;
  background-color: #6fcbeb;
  /* background-color: #D3D3D3; */
}
.social-circle li i {
  margin: 0;
  line-height: 42px;
  /* line-height:50px; */
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

/* social icons css */

.text_white {
  color: white !important;
}

/* lets talk button  */
.talk_button {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.12px;
  text-decoration: none;
  text-align: center;
  height: 74.8px;
  width: 231.5px;
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 25px 50px 25px 50px;
  background: transparent;
  cursor: pointer;
  color: #ffffff;
  transform: none;
  transition: all 0.3s ease 0s;
  /* outline: none; */
  outline: 2px solid #ffffff;
  box-sizing: border-box;
  word-wrap: break-word;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.talk_button:hover {
  background-color: #00ff67;
  color: #000000;
  outline: none;
}

/* Responsive Css */

@media screen and (max-width: 768px) {
  .nav_align {
    /* margin-left: 8.5rem; */
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .nav_item_align {
    margin-right: 0;
  }

  .services_area .heading {
    font-size: 26px;
    line-height: 35px;
    font-weight: bold;
  }

  .sub_heading::after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background-color: #00ff67;
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav_align img {
    height: 75px;
    width: 245px;
  }

  .nav_links {
    text-align: center !important;
  }
}

/*  Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 992px) {

  .nav_item_align {
    margin-right: 0;
  }

  .nav_links {
    text-align: center !important;
  }

}

/*  */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This property makes the video cover the entire container while maintaining its aspect ratio */
  z-index: 1;
}

.navbar_container {
  z-index: 1000;
  position: relative;
}

.navbar_fixed {
  position: fixed;
  top: 0;
  width: 100%;
  animation: slideInDown 1s ease;
}

.fade-out {
  display: none;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/*  */

/* .showcase{
    position: absolute;
    z-index: 1000;
    top: 300px;
    width: 80vw;
    left: 6rem;
} */

.showcase {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1000;
  padding: 20px;
  max-width: 600px;
}

.showcase_head_text h5 {
  padding: 3px 8px;
  background: rgb(14, 176, 11);
  margin-bottom: 8px;
  font-weight: bold;
  display: inline-block;
}

.carousel-text-container {
  /* max-width: 500px; */
  margin: 0 6rem;
}
/* .carousel-item h5{
    font-weight: bold;
    padding: 0;
    display: inline-block;
} */
@media (max-width: 768px) {
  .sub_heading_about::after {
    content: "";
    display: block;
    width: 104%;
    height: 1px;
    background-color: #00ff67;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
}

@media (max-width: 350px) {
  .footer_links a {
    font-size: 11px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  ul.social-network li {
    margin: 0 2px;
  }
}

/* callout section css  */
.about_para1 {
  font-weight: bold;
}

.callout_para1 {
    font-weight: bold;

    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.callout_para1.p{
    text-transform: uppercase;
}

.callout_para2 {
    font-weight: bold;

    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.callout_container {
  position: relative;
  text-align: center;
}

.callout-text {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: white; /* Set the text color */
  font-size: 28px;
  font-weight: bold; /* Adjust the font size as needed */
  /* Add any additional styling for the text */
}

/* callout section css  */

@keyframes floatAnimation {
  0% {
    transform: translate(-50%, -60%);
  }
  50% {
    transform: translate(-50%, -40%);
  }
  100% {
    transform: translate(-50%, -60%);
  }
}

.callout_container .callout-text {
  animation: floatAnimation 3s infinite;
}

.callout_container img {
  animation: floatAnimationImg 3s infinite;
}

@keyframes floatAnimationImg {
  0% {
    transform: translateY (0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.contact-img-container:hover {
  animation: floatContact 2s infinite;
}

@keyframes floatContact {
  0% {
    transform: translateY (0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.contact-img-container {
  animation: floatContact2 2s;
}

@keyframes floatContact2 {
  0% {
    transform: translateY (0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* ***************************************************************************** */





/* sub home scction media queries  */
@media (max-width: 768px) {
  .text_container {
    width: 56rem;
  }

  .sub_home_text {
    font-weight: 600;
    font-size: 19px;
    /* margin-top: 20px;  */
  }

  .talk_button_home {
    margin-top: 15px;
  }
}
/* sub home scction media queries  */

/*  New CSS file  */
.text-overlay {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 100;
  /* padding: 20px; */
  display: block;
}
.text-overlay p {
  background-color: rgba(2, 0, 8, 0.3);
  width: 100vw;
  color: #1aff88;
  font-size: 1.5rem;
  letter-spacing: 4px;
  line-height: 55px;
}


/* Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .text-overlay p {
    background-color: rgba(2, 0, 8, 0.3);
    width: 100vw;
    color: #1aff88;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
}

.text-overlay {
  position: absolute;
  top: 84.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 100;
  display: block;
}
}


/* iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .text-overlay p {
    background-color: rgba(2, 0, 8, 0.3);
    width: 100vw;
    color: #1aff88;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 40px;
}

.text-overlay {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 100;
  display: block;
}
}

/* Small screens */
@media screen and (min-width: 769px) and (max-width: 910px) {
  .text-overlay {
    position: absolute;
    top: 84.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;

    display: block;
}
.text-overlay p {
  background-color: rgba(2, 0, 8, 0.3);
  width: 100vw;
  color: #1aff88;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 40px;

}
}
/*  laptops */
@media screen and (min-width: 911px) and (max-width: 1024px) {
  .text-overlay {
    position: absolute;
    top: 86.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;

    display: block;
}
.text-overlay p {
  background-color: rgba(2, 0, 8, 0.3);
  width: 100vw;
  color: #1aff88;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 40px;

}
}
/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .text-overlay {
    position: absolute;
    top: 90.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: block;
}
.text-overlay p {
  background-color: rgba(2, 0, 8, 0.3);
  width: 100vw;
  color: #1aff88;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 44px;

}
}

.sub_text {
  color: #1aff88 !important;
}
.imp {
  color: red;
}
/*  New CSS file  */



/* bootstrap card Styling  */

.card_img {
  width: 40%;
  margin-bottom: 5px ;
  }
  
  .card_background {
  background-color: #000000;
  }
  /* .card:hover .card-body {
      background-color: green;
      border-radius: 5px;
  } */
  .card:hover {
      background-color: #0a6637;
      border-radius: 5px;
  }
  
  .card:hover .card-img-top {
      transform: rotateY(360deg);
      transition: transform 1s; 
    }

  /* .circle {
    position: absolute;
    top: 2px;
    width: 110px;
    height: 110px;
    background: #f5cb22;
    margin-left: 63.33333px;
    border-radius: 50%;
  }   */
    
  
  /* bootstrap card Styling  */

  /* Lets connect button  */

  .connect_btn {
    cursor: pointer;
     height: 60px;
     width: 180px;
     border: 1px solid #ffffff !important;
     position: relative;
     overflow: hidden;
     background-color: transparent;
     text-align: center;
     font-size: 15px;
     font-weight: bold;
     transition: .3s;
     z-index: 1;
     font-family: inherit;
     color: #ffffff;
     border-radius: 5px;
     outline: none;
    }
    
    .connect_btn::after {
     content: '';
     height: 0;
     width: 300%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
     background: #1aff88;
     transition: .25s ease;
     display: block;
     z-index: -1;
    }
    
    .connect_btn:hover::after {
    
     height: 80%;
    }
    
    .connect_btn:hover {
     color: #000000;
    }
    
  /* Lets connect button  */


  /* Send MEssage Button  */

  .contact_annimated_button {
    width: 180px;
    height: 63px;
    position: relative;
    font-size: 20px;
    letter-spacing: 1.12px;
    color: #fcfcfc;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white !important;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: all ease 100ms;
    cursor: pointer;
  }
  
  .contact_annimated_button:hover {
    background-color: #1aff88;
      color: #000000;
  }
  
  button:focus {
    background-color: #1aff88;
  }
  
  .contact_annimated_button::before {
    content: '🙂Success!';
    position: absolute;
    color: #000000;
    left: 0;
    top: -14px;
    right: 0;
    transition: all ease 0.25s;
    opacity: 0%;
  }
  
  .contact_annimated_button:focus::before {
    opacity: 100%;
    transform: translateY(26px);
  }
  
  .submit {
    transition: all ease 100ms;
    opacity: 100%;
  }
  
  .contact_annimated_button:focus > .submit {
    opacity: 0%;
  }



  /* Send MEssage Button  */