html {
    scroll-behavior: smooth;
}


body {
    /* Font Family */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    overflow-x: hidden;

}

body ::selection {
    color: #000000;
    background: rgb(0, 255, 103);
}

body {
    /* Body Properties */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.nav_align {
    margin-left: 7rem;
}

.nav_align img {
    height: 75px;
    width: 250px;
}

.nav_item_align {
    margin-right: 7rem;
}

.nav_links {
    text-transform: uppercase;
    font-weight: 700;
}

.nav_links a:hover {
    color: rgb(0, 255, 103) !important;
}

.services_area .heading {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.47px;
    line-height: 47px;
    text-decoration: none solid rgb(240, 247, 243);
    text-align: center;
    word-spacing: 0px;
    text-transform: uppercase;
}

.services_area .sub_heading {
    font-size: 20px;
    /* border-bottom: 1px solid rgba(237, 239, 242, 1); */
    font-weight: 600;
    letter-spacing: 0.47px;
    line-height: 47px;
    text-decoration: none solid rgb(240, 247, 243);
    text-align: center;
    word-spacing: 0px;
    text-transform: uppercase;
}

.sub_heading::after {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: #00ff67;
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.sub_heading_large::after {
    content: '';
    display: block;
    width: 75%;
    height: 1px;
    background-color: #00ff67;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



/* services card styling start*/
.card {
    position: relative;
    width: 250px;
    height: 215px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
}

.temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 12px 12px;
    color: #01ff4d;

}

.card_title {
    font-weight: bold;
}

.card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
}

.card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
    z-index: -1000;
}

.card_title {
    color: #131313;
    line-height: 15px;
    font-size: 13px;
}

.card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card_content {
    transform: translateY(0);
}

.card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* services card styling ends*/

.footer_links a {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 24.75px;
    font-weight: 600;
    color: rgba(163, 157, 240, 1) !important;
    text-decoration: none;
}

.footer_links a:hover {
    color: rgba(237, 239, 242, 1) !important;
}

/* social icons css */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


.social-network a.icoFacebook:hover {
	background-color:#1C3977;
}
.social-network a.icoInstagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-network a.icoYoutube:hover {
	background-color:#BD3518;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}


.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	/* width: 50px;
	height: 50px; */
	font-size:20px;
	background-color: rgb(129, 122, 224);
	/* background-color: #D3D3D3; */
}
.social-circle li i {
	margin:0;
	line-height:42px;
	/* line-height:50px; */
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* social icons css */

.text_white {
    color: white !important;
}

/* lets talk button  */
.talk_button {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.12px;
    text-decoration: none;
    text-align: center;
    height: 74.8px;
    width: 231.5px;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 25px 50px 25px 50px;
    background: transparent;
    cursor: pointer;
    color: #ffffff;
    transform: none;
    transition: all 0.3s ease 0s;
    /* outline: none; */
    outline: 2px solid #ffffff;
    box-sizing: border-box;
    word-wrap: break-word;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.talk_button:hover {
    background-color: #00ff67;
    color: #000000;
    outline: none;
}



/* Responsive Css */

@media screen and (max-width: 768px) {
    .nav_align {
        /* margin-left: 8.5rem; */
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .nav_item_align {

        margin-right: 0;
    }

    .services_area .heading {
        font-size: 26px;
        line-height: 35px;
        font-weight: bold;
    }

    .sub_heading::after {

        content: '';
        display: block;
        width: 80%;
        height: 1px;
        background-color: #00ff67;
        position: relative;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

    }

    .nav_align img {
        height: 75px;
        width: 245px;
    }

    .nav_links {
        text-align: center !important;
    }

}

/*  Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .col-md-3 .card_content {
        transform: translateY(250px);
        padding: 13px;

    }

    .nav_item_align {
        margin-right: 0;
    }

    .nav_links {
        text-align: center !important;
    }

    .col-md-4 .card_content {

        padding: 13px;

    }
}


/*  */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* This property makes the video cover the entire container while maintaining its aspect ratio */
    z-index: 1;
}

.text-overlay {
    position: absolute;
    top: 50%;
    right: 50%;
    /* Align to the right side of the screen */
    transform: translateY(-50%);
    text-align: center;
    /* Align text to the right */
    color: white;
    z-index: 1;
    padding: 20px;
    /* Add padding for better readability */
}

.navbar_container {
    z-index: 1000;
    position: relative;
}

.navbar_fixed {
    position: fixed;
    top: 0;
    width: 100%;
    animation: slideInDown 1s ease;
}

.fade-out {
    display: none;
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


/*  */





